packaging_format = 2

id = "plateau"
name = "Plateau"
description.en = "Organize and document participatory workshops"
description.fr = "Organiser et documenter des ateliers participatifs"

version = "2.0.0b~ynh4"

maintainers = ["Guillaume Bouzige"]

[upstream]
license = "AGPL-3.0-or-later"
website = "https://latelier-des-chercheurs.fr"
demo = "https://plateau.latelier-des-chercheurs.fr"
code = "https://github.com/l-atelier-des-chercheurs/PLATEAU"

[integration]
yunohost = ">= 11.2.30"
helpers_version = "2.1"
architectures = "all"
multi_instance = false
ldap = false
sso = false
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        url = "https://github.com/l-atelier-des-chercheurs/PLATEAU/archive/refs/heads/develop-node.zip"
        sha256 = "533ab9f5cceac2358ad03104ff3d8f8f24e2a7beb296192281b9ff1a3dd2681b"
        
        #url = "https://github.com/l-atelier-des-chercheurs/PLATEAU/archive/refs/tags/v2.0.0.tar.gz"
        #sha256 = "8573599860b81a3d6a4f8ea2d6b2b4385d8a6104d27c3e8ceef7d922780d77ca"
        #autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false

    [resources.ports]

    [resources.apt]
    packages = [
    "ffmpeg",
    "build-essential",
    "libjpeg-dev",
    "libgif-dev",
    "libgconf-2-4",
    "libpango1.0-dev",
    "libc6",
    "libnss3",
    "librsvg2-dev",
    "libxcomposite1",
    "libasound2",
    "libatk1.0-0",
    "libatk-bridge2.0-0",
    "libcairo2",
    "libcairo2-dev",
    "libcups2",
    "libdbus-1-3",
    "libexpat1",
    "libfontconfig1",
    "libgbm1",
    "libgcc1",
    "libglib2.0-0",
    "libgtk-3-0",
    "libnspr4",
    "libpango-1.0-0",
    "libpangocairo-1.0-0",
    "libstdc++6",
    "libx11-6",
    "libx11-xcb1",
    "libxcb1",
    "libxcomposite1",
    "libxcursor1",
    "libxdamage1",
    "libxext6",
    "libxfixes3",
    "libxi6",
    "libxrandr2",
    "libxrender1",
    "libxss1",
    "libxtst6",
    "xdg-utils",
    "lsb-release",
    "wget"
    ]
